<div id="homepageBg">
<!-- component -->
  <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
    
	<!--Main Col-->
	<div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-gray-900 mx-6 lg:mx-0">
	

		<div class="p-4 md:p-12 text-center lg:text-left">
			<!-- Image for mobile view-->
			<div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://i.insider.com/54d3d5ca6da811bc678b456b?width=1000&format=jpeg&auto=webp')"></div>
			
			<h1 class="text-3xl text-yellow font-bold pt-8 lg:pt-0"> Hello, {{name}} </h1>
			<div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 text-yellow opacity-25"></div>
			<p class="pt-4 text-base text-yellow font-bold flex items-center justify-center lg:justify-start">Height: {{height}}</p>
			<p class="pt-4 text-base font-bold flex text-yellow items-center justify-center lg:justify-start"> Weight: {{weight}}</p>
			<p class="pt-4 text-base font-bold text-yellow flex items-center justify-center lg:justify-start"> Goals: {{goals}}</p>

		

			


		</div>

	</div>
	
	<!--Img Col-->
	<div class="w-full lg:w-2/5">
		<!-- Big profile image for side bar (desktop) -->
		<img src="{{img}}" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
		
		
	</div>
  </div>